{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Play:wght@700&display=swap" rel="stylesheet">

<br>
<h2 style="font-family: 'Play', sans-serif; color:indigo; "><i><u>ABOUT BMH</i></u></h2><br>
<h4 style="line-height:50px; font-family: 'Play', sans-serif; color:indigo; "><i>The vision ‘affordable, accessible and quality healthcare for all’, 
    a dream of visionary, Dr. K G Alexander was made a reality in 1987 with the commencement of Baby Memorial Hospital (BMH). The novel initiative
     then marked a revolution in the healthcare segment in Kerala, thus symbolizing an answer for the growing healthcare demands of the state. A tribute to late K C Varghese (known as ‘Baby’),
      father of Dr. K G Alexander, the Chairman and Managing Director, the hospital has set a benchmark in offering unprecedented care.<i/></h4><br>


    <h4 style="color:green; font-family: 'Play', sans-serif;">With only 52 beds when started, the hospital now boasts world‐class amenities, which includes:</h4><br>
<ul style="font-size:20px; list-style-type:square; color:green; font-family: 'Play', sans-serif;">
    <li>600 beds.</li><br>
    <li>Over 40 Medical and Surgical departments.</li><br>
    <li>Exceptional paramedical support system.</li><br>
    <li>16 world-class operation theatres.</li><br>
    <li>11 fully equipped ultramodern ICUs.</li><br>
    <li>24‐hours accident and trauma care unit.</li><br>
</ul>
<h4 style="color:green; line-height:50px; font-family: 'Play', sans-serif; ">Adhering to strict and ethical medical practices, the hospital team ‐ which expands to 300 doctors and over 2000 nursing, paramedical and administrative staff – relentlessly strive to keep up our ideology, ‘ more than care ‘.
</h4><br>





{% endblock content %}