{% extends 'base.html' %}
{% block title %}Booking COnformation{% endblock title %}
{% block content %}

<link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">

<br>
<div class='container text-center' >
    <h1 style="font-family: 'Carter One', cursive;"><u>BOOKING CONFORMATION</u></h1>
</div>
<br>

<div class="alert alert-success" role="alert">
    <h4 style="font-family: 'Carter One', cursive;"> We Have Recieved Your Appoinment Request , Our Representative Will Contact You Soon </h4>
</div> 
{% endblock content %}